<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CloudGen: A Simple Cloud of Points Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/main.css" />
	</head>
	<body>
		<div id="page-wrapper">
			<!-- Header -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<header id="header">
								<h1><a href="/" id="logo">CloudGen</a></h1>
								<nav id="nav">
									<a href="/" class="current-page-item">Home</a>
									<a href="/upload">CloudGenerator</a>
									<a href="/about">About</a>
								</nav>
							</header>
						</div>
					</div>
				</div>
			</div>

			<!-- Banner -->
			<div id="banner-wrapper">
				<div class="container">
					<div id="banner">
						<h2>CloudGen</h2>
						<span>A simple, web-based cloud of points generator.</span>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<div id="footer-wrapper">
				<div class="container">
					<section>
						<h2>CloudGen</h2>
						<p>CloudGen was designed by the Malla group at the Universidad Michoacana de San Nicolás de Hidalgo
							in an effort of bringing an easy way to create clouds for irregular domains in order to compare
							different methods to numerically solve partial differential equations without an structured mesh.
						</p>
					</section>
					<div class="col-12">
						<div id="copyright">
							&copy; CloudGen. All rights reserved.
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>