<!DOCTYPE html>
<html lang="en">
    <head>
		<title>CloudGen: A Simple Cloud of Points Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/main.css" />
        <script>
            function dragoverHandler(ev) {
                ev.preventDefault();
                ev.dataTransfer.dropEffect = "move";
                console.log(ev);
            }
            function dropHandler(ev) {
                ev.preventDefault();
                console.log(ev);
            }
        </script>
	</head>
   
    <body>
        <div id="page-wrapper">
            <!-- Header -->
            <div id="header-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <header id="header">
                                <h1><a href="/" id="logo">CloudGen</a></h1>
                                <nav id="nav">
                                    <a href="/">Home</a>
                                    <a href="/upload" class="current-page-item">CloudGenerator</a>
                                    <a href="/about">About</a>
                                </nav>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Upload -->
            <div id="banner-wrapper">
                <div class="container">
                    <div id="banner">
                        <h2>ContourCreator: Create contours based on a picture.</h2>
                        <span>Upload a file to create the contour.</span>
                        <br /><br />
                        <form method=post enctype=multipart/form-data> 
                            <div class="file-area">
                                <input type=file required name=file>
                                <div class="file-dummy">
                                    <div class="default">
                                        <h2>Arrastra y suelta imágenes</h2>
                                        <span>O</span>
                                        <button>Selecciona tus archivos</button>
                                    </div>
                                    <div class="success">
                                        <h2>Archivo listo</h2>
                                        <button>Elige otroa archivo</button>
                                    </div>
                                </div>
                            </div>
                            <div id="preview"></div>
                            <input type=submit value=Upload>
                        </form>
                    </div>
                </div>
            </div>

            <div id="banner-wrapper">
                <div class="container">
                    <div id="banner">
                        <h2>CloudGen: A simple cloud of points generator.</h2>
                        <span>Upload a file to create the cloud of points.</span>
                        <br /><br />
                        <form method=post enctype=multipart/form-data>  
                            <input type=file name=file><br /><br />
                            <input type=submit value=Upload>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
