/* Estilos generales */
    /* Body */
    body {
        font-family: Arial, sans-serif;
        min-height: 100vh;                                                  /* Esto asegura que el body ocupe toda la altura de la pantalla */
    }

/* Header y Footer */
    header, footer {
        background-color: #f8f9fa;                                        /* Fondo claro para el header y footer */
        color: #333;                                                      /* Texto oscuro para contraste */
    }

    /* Header */
        header {
            padding: 10px 20px;
        }

        /* Navbar en el header */
        header .navbar {
            border-bottom: 1px solid #ddd;                                    /* Agrega una pequeña línea debajo del header */
        }
        
        /* Logo en el navbar */
        header .navbar-brand img {
            height: 70px;
            margin-right: 20px;
        }

        /* Enlaces en el navbar */
        header nav a {
            color: #333;
            text-decoration: none;
            margin-left: 20px;
        }

        /* Enlaces en el navbar */
        header nav a:hover {
            color: red;
            text-decoration: underline;
        }

    /* Footer */
    footer {
        background-color: #f8f9fa;                                        /* Fondo claro */
        text-align: center;
        color: #333;                                                      /* Texto oscuro */
        padding: 20px 0;
        margin-top: auto;                                                   /* Asegura que el footer se quede al final de la página */
    }

    /* Logos en el footer */
    footer .logos img {
        margin: 0 15px;
        height: 90px;
    }

    /* texto en el footer */
    footer p {
        margin-top: 10px;
    }

/* Main */
    main {
        flex: 1;                                                            /* Asegura que el main ocupe todo el espacio disponible */
    }

    /* Estilo para el fondo del Main */
    .bg-image {
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url('/static/images/bg.webp');
        background-size: cover;
        background-position: fixed;
        min-height: 100vh;                                                  /* Asegura que el fondo ocupe toda la altura de la ventana */
        display: flex;
        justify-content: center;                                            /* Centra horizontalmente el contenido */
        align-items: center;                                                /* Centra verticalmente el contenido */
        z-index: 1;
    }

/* Contenido de la sección hero */
    .hero-content {
        background: rgba(189, 189, 189, 0.7);
        border:black;
        border-radius: 15px;
        border-style: double;
        position: relative;
        width: 90%;
        padding: 40px;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        color: black;
        z-index: 2;
    }

    /* Logo de la página más grande y centrado */
    .hero-logo img {
        max-height: 250px;
        max-width: 60%;
        margin-bottom: 2rem;
    }

/* Estilo del contenedor y área de drag-and-drop */
.file-upload-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 40px 0 40px 0;
    width: 80%;
    justify-self: center;
}

.file-upload-container.dragging {
    border: 2px dashed rgba(55, 255, 0, 1);
    background-color: rgba(55, 255, 0, 0.8);
}

.drag-and-drop {
    cursor: pointer;
    font-size: 1.2rem;
    color: #007bff;
}

input[type="file"] {
    display: none; /* Esconde el input real */
}

input[type="file"]:active + label,
input[type="file"]:focus + label {
    outline: none;
    border-color: #0056b3;
}

#fileName {
    font-weight: bold;
    color: #555;
    margin-top: 15px;
}

/* Canvas */
    #imageCanvas {
        display: block;
        margin: auto;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #canvas-actions-container{
        position: relative;
        width: 90%;
        justify-self: center;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
        padding: 2%;
    }

    #canvas-container{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    #action-buttons-canvas{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 30px 30px;
    }

    #action-buttons-canvas button{
        margin-bottom: 5px;
        width: 60px;
        display: inline-block;
        border-radius: 7px;
        box-shadow: inset 0 0 0 1px #aed6f1
    }

    #action-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        color: white;
    }

    #action-buttons button{
        display: inline-block;
        padding: 10px 15px 10px 15px;
        border-radius: 7px;
        box-shadow: inset 0 0 0 1px #aed6f1
    }
    
    #action-buttons button:hover{
        box-shadow: inset 0 0 0 1px #dbebf7
    }

    #action-buttons left-group {
        display: flex;                                                          /* Agrupa "New Zone" y "Current Zone" en una línea */
        align-items: center;                                                    /* Alinea verticalmente */
        gap: 10px;                                                              /* Espaciado entre elementos */
    }
    
    #action-buttons right-group {
        display: flex;                                                          /* Agrupa los botones Reset y Download en una línea */
        align-items: center;                                                    /* Alinea verticalmente */
        gap: 10px;                                                              /* Espaciado entre botones */
    }

/* Botones */
button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#main-researchers-students .main-row2{
    display:flex;
    justify-content:space-between
}

.container-about{
    margin:0 auto;
    max-width:80%;
    width:1200px;
}

.col-left{
    width:50%
}

.col-right{
    width:50%
}

.row2{
    display:flex;
    flex-wrap:wrap;
    box-sizing:border-box;
    align-items:stretch;
}

ul.small-image-list li{
    overflow:hidden;
    margin-bottom:1.5em;
}

ul.small-image-list li img{
    width:100px;
    height:100px;
}

img.left{
    float:left;
    margin:2px 1.25em 0 0
}

.mouse-coordinates{
    position: relative;
    justify-self:end;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    color:black;
}