<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>CloudGen: A Simple Cloud of Points Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">-->
		<link href="../static/css/style.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous">
	</head>

	<body>
		<!-- Header -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ url_for('index') }}" id="logo"><img src="../static/images/logo.png" alt="CloudGen Logo" height="60"/> mGFD: CloudGenerator</a>
	           	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	           	<span class="navbar-toggler-icon"></span>
	       	    </button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a href="{{ url_for('index') }}" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="{{ url_for('upload_image') }}" class="nav-link">ContourCreator</a>
						</li>
						<li class="nav-item">
							<a href="{{ url_for('upload_files') }}" class="nav-link">CloudGenerator</a>
						</li>
						<li class="nav-item">
							<a href="{{ url_for('about') }}" class="nav-link">About</a>
						</li>
						<li class="nav-item">
							<a href="{{ url_for('howto') }}" class="nav-link"><i class='fas fa-question-circle'></i></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Main Contenedor -->
		<div id="main-wrapper">
			<div id="banner" class="upload-container">
				<div class="col-12">
					<h2 class="text-center">CloudGen</h2>
					<p class="text-justify">CloudGen was designed by the Malla group at the Universidad Michoacana de San Nicolás de Hidalgo
						in an effort of bringing an easy way to create clouds for irregular domains in order to compare
						different methods to numerically solve partial differential equations without an structured mesh.</p>
				</div>
				<br /><br />
				<div id="main-researchers-students" class="container-about">
					<div class="row2">
						<div class="col-left">
							<h13>Researchers</h13>
							<br /><br />
							<ul class="small-image-list">
								<li>
									<a href="#"><img src="../static/images/GTG.png" alt="" class="left" /></a>
									<h14><strong>Gerardo Tinoco-Guerrero</strong></h14><br><p1>Ph.D. in Physical Engineering Sciences<br>
									<a href="mailto:gerardo.tinoco@umich.mx">gerardo.tinoco@umich.mx</a></p>
								</li>
								<li>
									<a href="#"><img src="../static/images/JAGT.png" alt="" class="left" /></a>
									<h14><strong>J. Alberto Guzmán-Torres</strong></h14><br><p>Ph.D. in Physical Engineering Sciences<br>
									<a href="mailto:jose.alberto.guzman@umich.mx">jose.alberto.guzman@umich.mx</a></p>
								</li>
								<li>
									<a href="#"><img src="../static/images/FJDM.png" alt="" class="left" /></a>
									<h14><strong>Francisco J. Domínguez-Mota</strong></h14><br><p>Ph.D. in Mathematical Sciences<br>
									<a href="mailto:francisco.mota@umich.mx">francisco.mota@umich.mx</a></p>
								</li>
								<li>
									<a href="#"><img src="../static/images/JGTR.png" alt="" class="left" /></a>
									<h14><strong>J. Gerardo Tinoco-Ruiz</strong></h14><br><p>Ph.D. in Applied Mathematics<br>
									<a href="mailto:jose.gerardo.tinoco@umich.mx">jose.gerardo.tinoco@umich.mx</a></p>
								</li>
							</ul>
						</div>
						<div class="col-right">
							<h13>Students</h13>
							<br /><br />
							<ul class="small-image-list">
								<li>
									<a href="#"><img src="../static/images/GPJ.png" alt="" class="left" /></a>
									<h14><strong>Gabriela Pedraza-Jiménez</strong></h14>
								</li>
								<li>
									<a href="#"><img src="../static/images/RRG.png" alt="" class="left" /></a>
									<h14><strong>Ricardo Román-Gutiérrez</strong></h14>
								</li>
								<li>
									<a href="#"><img src="../static/images/NSSJ.png" alt="" class="left" /></a>
									<h14><strong>Nancy Saray Saucedo-León</strong></h14>
								</li>
							</ul>
						</div>
					</div>
				</div>
		    </div>
		</div>

		<!-- Footer -->
		<footer class="footer">
			<div class="container text-center">
				<div class="d-flex justify-content-center align-items-center">
					<a href="#"><img src="../static/images/UMSNH.png" alt="UMSNH Logo" class="footer-image" /></a>
					<a href="#"><img src="../static/images/CONAHCYT.png" alt="CONAHCYT Logo" class="footer-image" /></a>
					<a href="#"><img src="../static/images/IngeIA.png" alt="IngeIA Logo" class="footer-image" /></a>
				</div>
				<p class="mt-3">&copy; CloudGen. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>