<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CloudGen: A Simple Cloud of Points Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous">
    </head>
    <body>
        <!-- Header -->
		<header class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo mGFD" height="40">
					mGFD: Cloud Generator
				</a>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('upload_image') }}">ContourCreator</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('upload_files') }}">CloudGenerator</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('modify') }}">CloudMod</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('howto') }}"><i class='fas fa-question-circle'></i></a></li>
					</ul>
				</div>
			</div>
		</header>
        
        <!-- Main Contenedor -->
		<main class="container-fluid bg-image">
            <div class="hero-content">
                <h1 class="display-4">CloudGenerator</h1>
                <p class="lead mt-3">Upload a CSV file to generate the cloud of points.</p>
                <form method="post" enctype="multipart/form-data">
                    <div class="file-upload-container">
                        <label for="csvUpload" class="drag-and-drop">
                            <i class="fas fa-cloud-upload-alt"></i><br />Drag and drop your CSV file here
                            <input type="file" id="csvUpload" name="points_file" class="d-none" accept=".csv">
                            <br /> or click to select a file
                        </label>
                        <div id="fileName" class="mt-3"></div>
                    </div>
					<div class="row mt-4">
						<div class="col-md-3">
							<label for="num" class="form-label">Point Density</label><br />
							1 <input type="range" min="2" max="6" value="2" class="slider" id="num" name="num"> 5
						</div>
						<div class="col-md-3">
							<label for="mod" class="form-label">Generation Model</label><br />
							<label for="mod00"> <input type="radio" value="0" id="mod00" name="mod" checked /> Simple distribution </label><br />
                            <label for="mod01"> <input type="radio" value="1" id="mod01" name="mod" /> Adaptive distribution</label>
						</div>
						<div class="col-md-3">
							<label for="rand" class="form-label">Randomization:</label><br />
							<label for="rand01"><input type="radio" value="1" id="rand01" name="rand" /> True</label><br />
							<label for="rand00"><input type="radio" value="0" id="rand00" name="rand" checked /> False</label>
						</div>
						<div class="col-md-3">
							<label for="gen" class="form-label">Clouds in Holes:</label><br />
							<label for="gen01"><input type="radio" value="1" id="gen01" name="gen" checked/> True</label><br />
							<label for="gen00"><input type="radio" value="0" id="gen00" name="gen"/> False</label>
						</div>
					</div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary" id="uploadButton" disabled>Generate</button>
                    </div>
                </form>
            </div>
        </main>

        <!-- Footer -->
		<footer class="text-center py-3">
			<div class="container">
				<div class="logos mb-3">
					<a href="https://www.umich.mx/"><img src="../static/images/umsnh.webp" alt="UMSNH Logo" class="footer-image" /></a>
					<a href="https://conahcyt.mx/"><img src="../static/images/conahcyt.webp" alt="CONAHCYT Logo" class="footer-image" /></a>
					<a href="https://siiia.com.mx/"><img src="../static/images/siiia.webp" alt="SIIIA MATH Logo" class="footer-image" /></a>
				</div>
				<p class="mt-3">&copy; CloudGen. All rights reserved.</p>
			</div>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="{{ url_for('static', filename='js/uploadC.js') }}"></script>
    </body>
</html>