<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CloudGen: A Simple Cloud of Points Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="CloudGen: A simple, web-based cloud of points generator designed by SIIIA MATH for UMSNH and CONAHCYT.">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous">
    </head>
    <body>
        <!-- Header -->
		<header class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ url_for('index') }}">
					<img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo mGFD" height="40">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('index') }}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('upload_image') }}">ContourCreator</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('upload_files') }}">CloudGenerator</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('modify') }}">CloudMod</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('about') }}">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('howto') }}"><i class='fas fa-question-circle'></i></a>
						</li>
					</ul>
				</div>
			</div>
		</header>
        
        <!-- Main Contenedor -->
		<main class="container-fluid bg-image" style="background-image: url({{ url_for('static', filename='images/bg.webp') }})">
            <div class="hero-content">
                <h1 class="display-4">CloudMod</h1>
                <p class="lead mt-3">Upload a CSV file to modify points in a cloud.</p>
                <form method="post" enctype="multipart/form-data">
                    <div class="file-upload-container">
                        <label for="csvUpload" class="drag-and-drop">
                            <i class="fas fa-cloud-upload-alt"></i><br />Drag and drop your CSV file here
                            <input type="file" id="csvUpload" name="file" class="d-none" accept=".csv">
                            <br /> or click to select a file
                        </label>
                        <div id="fileName" class="mt-3"></div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary" id="uploadButton" disabled>Upload</button>
                    </div>
                </form>
            </div>
        </main>

        <!-- Footer -->
		<footer class="text-center py-3">
			<div class="container">
				<div class="logos mb-3">
					<a href="https://www.umich.mx/"><img src="{{ url_for('static', filename='images/umsnh.webp') }}" alt="UMSNH Logo" class="footer-image" /></a>
					<a href="https://conahcyt.mx/"><img src="{{ url_for('static', filename='images/conahcyt.webp') }}" alt="CONAHCYT Logo" class="footer-image" /></a>
					<a href="https://siiia.com.mx/"><img src="{{ url_for('static', filename='images/siiia.webp') }}" alt="SIIIA MATH Logo" class="footer-image" /></a>
				</div>
				<p class="mt-3">&copy; CloudGen. All rights reserved.</p>
			</div>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="{{ url_for('static', filename='js/uploadC.js') }}"></script>
    </body>
</html>
