<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CloudGen: A Simple Cloud of Points Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous">
	</head>
	<body>
		<div id="page-wrapper">
			<!-- Header -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<header id="header">
								<h1><a href="{{ url_for('index') }}" id="logo">CloudGen</a></h1>
								<nav id="nav">
									<a href="{{ url_for('index') }}" class="current-page-item">Home</a>
									<a href="{{ url_for('upload_image') }}">ContourCreator</a>
									<a href="{{ url_for('upload_files') }}">CloudGenerator</a>
									<a href="{{ url_for('about') }}">About</a>
									<a href="/"><i class='fas fa-question-circle'></i></a>
								</nav>
							</header>
						</div>
					</div>
				</div>
			</div>

			<!-- Banner -->
			<div id="banner-wrapper">
				<div class="contain">
					<div id="banner1">
						<h2>CloudGen</h2>
						<h5>A simple, web-based cloud of points generator.</h5>
					</div>
				</div>
			</div>

			<!-- Main -->
			<div id="main">
				<div class="contain">
					<div id="main-row">
						<h6>Info</h6>
						<h7>Info.</h7>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<div id="footer-wrapper">
				<div class="contain">
					<div class="col-12">
						<div id="copyright">
							&copy; CloudGen. All rights reserved.
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>